body{
    font-family: latha;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0.15), rgba(0,0,0,0))
    ,url(../assets/kombinat.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    display: flex;
    padding: 20px;
    margin: 30px 10px;
}

.image-holder{
    flex-grow: 1;
}

img{
    border: 5px solid white;
    border-radius: 5%;
}

.content-holder{
    padding-left: 15px;
    flex-grow: 5;
    width: 360px;
    height: 580px;
    background-color: rgb(255, 255, 255, 0.5) ;
    flex-wrap: 1;
    border-radius: 5%;    
}

.content-holder div{
    width: fit-content;
    height: 40px;
    font-size: 18px;
    color: black;    
}

.content-holder div h2{
    text-align: center;
    text-transform: none;
    font-weight: 100px;
    width: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 15px;

}

.content-holder div h3{
    text-align: center;
    text-transform: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 28px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 480px;
    height: 410px;
    padding: 8px;
}

.opis{
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    margin-top: -430px;
    margin-right: 10px;
}

.holder{
    display: flex;
    text-align: left;
}

.holderi p{
    font-size: 30px;
    margin-top: 400px;
    width: 250px;
    height: 35px;
}